.NewIDConfirm {
  background: #003B5E;
  width: 100%;
  height: 100%;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:15px;
  padding-left:15px;

  font-family: $display-font;

  &__confirm {
    text-align: center;
  }

  &__Title {
    @media (max-width: 350px) {
      font-size:20px;
    }

    @media (min-width: 350px) {
      padding-right: 50px;
      padding-left: 50px;
    }

    font-size: 24px;
    color: white;
    padding-top: 0;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;

  }

  &__Photo {

    color: white;
    display: block;
    margin: auto;
    width: 50%;
    width: 115px;
    height: 115px;

  }

  &__Name {
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;

  }

  &__Text {
    color: white;
    background: #014673;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;

  }

  &__confirmName{
    font-size: 12px;
    text-align: left;

  }

  &__confirmPhone{
    text-align: left;
    font-size: 12px;

  }


  &__EnterButton {

    @media (max-width: 350px) {
      padding-top: 0;
    }

    padding-top: 20px;
    text-align: center;

    .btn {
      font-size: 20px;
      font-family: $display-font;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;

    }
  }

  &__ExitLink {
    padding-top: 20px;

    a{
      font-size: 18px;
      color: white;
      font-weight: lighter;
      text-decoration: underline;

    }


    a:active {
      color: #89c4f4;
    }

  }
}
