.IntroNewID {
  background: #1F2D39;
  width: 100%;
  height: 100%;
  padding-top:15px;
  padding-bottom:40px;
  padding-right:0;
  padding-left:0;;

  font-family: $display-font;

  &__formExitButton{
    text-align: right;
    font-size: 27px;
    margin-right: 15px;
  }

  &__vtexLogo{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 40px;

  }

  &__presentation {
    text-align: center;

  }


  &__presentationTitle {

    @media (max-width: 350px) {
      font-size:18px;
      padding-left: 0;
      padding-right: 0;
    }

    font-weight: lighter;
    font-size: 20px;
    color: white;
    padding-bottom: 40px;
    padding-right: 30px;
    padding-left: 30px;

  }

  &__presentationPhoto {
    color: white;
    display: block;
    margin: auto;
    width: 50%;
    width: 150px;
    height: 150px;
  }

  &__presentationName {
    @media (max-width: 350px) {
    font-size: 16px;
    }
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }

  &__presentationText {
    @media (max-width: 350px) {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    }

    font-size: 18px;
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
  }

  &__presentationEnterButton {

    .btn {
      font-size: 20px;
      font-family: $display-font;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;

    }
  }

  &__presentationExitLink {
    padding-top: 20px;

    a{
      font-size: 18px;
      color: white;
      font-weight: lighter;
      text-decoration: underline;

    }


    a:active {
      color: #89c4f4;
    }

  }
}
