// === === === === === === === === === === //
/* Colors */
// === === === === === === === === === === //

$star-yellow: #ECB40C;

// === === === === === === === === === === //
/* Typography */
// === === === === === === === === === === //

$display-font: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
$body-font: 'Helvetica Neue', Helvetica, sans-serif;
